<h1><%= @article.title %></h1>
<small>Originally posted <%= @article.created_at %></small>

<% if !@article.created_at.eql?(@article.updated_at) %>
  <br /><small>Updated at <%= @article.updated_at %></small>
<% end %>

<p><%= @article.body %></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Delete", article_path(@article), method: :delete,
                  data: { confirm: "Are you sure?" } %>
</ul>

<h2>Comments</h2>
<!-- Apparenly this will loop through the comments and display them according to
the views/comments/_comment.html.erb partial. -->
<%= render @article.comments %>

<h2>Add a comment:</h2>
<!-- I guess this clarifies the above a bit. It uses the _comments partial
because it has the same name as the attribute being rendered. Otherwise, it
needs to be told which partial to use. -->
<%= render 'comments/form' %>
