<h1><%= @article.title %></h1>
<small>Originally posted <%= @article.created_at %></small>

<% if !@article.created_at.eql?(@article.updated_at) %>
  <br /><small>Updated at <%= @article.updated_at %></small>
<% end %>

<p><%= @article.body %></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Delete", article_path(@article), method: :delete,
                  data: { confirm: "Are you sure?" } %>
</ul>
